BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
# BLOCK JTAGPATHS; # Added from 1bitSDR Github
## ULX3S v3.1.6 and v3.1.7

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ; # FREQUENCY NET?
#CLOCK_TO_OUT ALLPORTS 20.000000 ns CLKNET "clk_25mhz" ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

######################## 3.3V   ########################
######################## BANK 6 ########################
# Pin M1 From Bank 6 [PIN 9 ON BOARD]
LOCATE COMP "rx_serial" SITE "M1"; # FPGA receives from ftdi
IOBUF  PORT "rx_serial" PULLMODE=UP IO_TYPE=LVCMOS33;
# Pin L4 From Bank6 [](NOT USED)
#LOCATE COMP "o_Tx_serial" SITE "L4"; # FPGA transmits to ftdi
#IOBUF  PORT "o_Tx_serial" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

### Antenna on G1?

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

	
######################## 3.3V   ########################
######################## BANK 0 ########################
# PIN B11 From Bank 0 [Pin 0 ON BOARD]
LOCATE COMP "pwm_out_p[0]" SITE "B11";
IOBUF PORT  "pwm_out_p[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A10 From Bank 0 [Pin 1 ON BOARD]
LOCATE COMP "pwm_out_p[1]" SITE "A10";
IOBUF PORT  "pwm_out_p[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A9 From Bank 0 [Pin 2 ON BOARD]
LOCATE COMP "pwm_out_p[2]" SITE "A9"; 
IOBUF PORT  "pwm_out_p[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN B9 From Bank 0 [Pin 3 ON BOARD]
LOCATE COMP "pwm_out_p[3]" SITE "B9"; 
IOBUF PORT  "pwm_out_p[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN A7 From Bank 0 [Pin 4 ON BOARD]
LOCATE COMP "pwm_out_n[0]" SITE "A7";
IOBUF PORT  "pwm_out_n[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN C8 From Bank 0 [Pin 5 ON BOARD]
LOCATE COMP "pwm_out_n[1]" SITE "C8"; 
IOBUF PORT  "pwm_out_n[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN C6 From Bank 0 [Pin 6 ON BOARD]
LOCATE COMP "pwm_out_n[2]" SITE "C6";
IOBUF PORT  "pwm_out_n[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A6 From Bank 0 [Pin 7 ON BOARD]
LOCATE COMP "pwm_out_n[3]" SITE "A6";
IOBUF PORT  "pwm_out_n[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

######################## BANK 7 ########################
# PIN A4 From Bank 7 [Pin 8 ON BOARD]
LOCATE COMP "pwm_out" SITE "A4";
IOBUF PORT  "pwm_out" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 


######################## 2.5V   ########################
######################## BANK 3 ########################
# PIN U18 From BANK 3 [PIN 14 ON BOARD]
LOCATE COMP "diff_out"  SITE "U18";  
IOBUF PORT  "diff_out"  SLEWRATE=SLOW IO_TYPE=LVCMOS33; 
OUTPUT PORT "diff_out" LOAD 0.000000 pF;


######################### LVDS  ########################
######################## BANK 2 ########################
# LVDS (Differential signal on +- Pins on Board)
# PIN H18 From Bank 2 [Positive Pin 18 ON BOARD]
LOCATE COMP "rf_in"  SITE "H18"; 
IOBUF PORT "rf_in" IO_TYPE=LVDS HYSTERESIS=NA CLAMP=ON DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF; # LVDS25 NOT SUPPORTED?
# PIN H17 From Bank 2 [Negative Pin 18 on Board] SigmaDelta ADC Feedback(1 bit DAC)
#LOCATE COMP "SDFeedback"  SITE "H17"; 
#IOBUF PORT "SDFeedback" IO_TYPE=LVDS HYSTERESIS=NA CLAMP=ON DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF;
