BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
# BLOCK JTAGPATHS; # Added from 1bitSDR Github
## ULX3S v3.1.6 and v3.1.7

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ; # FREQUENCY NET?
#CLOCK_TO_OUT ALLPORTS 20.000000 ns CLKNET "clk_25mhz" ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

######################## 3.3V   ########################
######################## BANK 6 ########################
# Pin M1 From Bank 6 [PIN 9 ON BOARD]
LOCATE COMP "i_Rx_Serial" SITE "M1"; # FPGA receives from ftdi
IOBUF  PORT "i_Rx_Serial" PULLMODE=UP IO_TYPE=LVCMOS33;
# Pin L4 From Bank6 [](NOT USED)
#LOCATE COMP "o_Tx_serial" SITE "L4"; # FPGA transmits to ftdi
#IOBUF  PORT "o_Tx_serial" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

### Antenna on G1?

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

	
# GPIO (default single-ended) "gpio", "ram", "gpdi" sheet
# Pins enumerated gp[0-27], gn[0-27].
# With differential mode enabled on Lattice,
# gp[] (+) are used, gn[] (-) are ignored from design
# as they handle inverted signal by default.
# To enable differential, rename LVCMOS33->LVCMOS33D
# FEMALE ANGLED (90 deg PMOD) on TOP or
# MALE VERTICAL ( 0 deg pins) on BOTTOM and flat cable

######################## 3.3V   ########################
######################## BANK 0 ########################
# PIN B11 From Bank 0 [Pin 0 ON BOARD]
LOCATE COMP "PWMOutP1" SITE "B11";
IOBUF PORT  "PWMOutP1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A10 From Bank 0 [Pin 1 ON BOARD]
LOCATE COMP "PWMOutP2" SITE "A10";
IOBUF PORT  "PWMOutP2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A9 From Bank 0 [Pin 2 ON BOARD]
LOCATE COMP "PWMOutP3" SITE "A9"; 
IOBUF PORT  "PWMOutP3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN B9 From Bank 0 [Pin 3 ON BOARD]
LOCATE COMP "PWMOutP4" SITE "B9"; 
IOBUF PORT  "PWMOutP4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN A7 From Bank 0 [Pin 4 ON BOARD]
LOCATE COMP "PWMOutN1" SITE "A7";
IOBUF PORT  "PWMOutN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN C8 From Bank 0 [Pin 5 ON BOARD]
LOCATE COMP "PWMOutN2" SITE "C8"; 
IOBUF PORT  "PWMOutN2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN C6 From Bank 0 [Pin 6 ON BOARD]
LOCATE COMP "PWMOutN3" SITE "C6";
IOBUF PORT  "PWMOutN3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4;

# PIN A6 From Bank 0 [Pin 7 ON BOARD]
LOCATE COMP "PWMOutN4" SITE "A6";
IOBUF PORT  "PWMOutN4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

######################## BANK 7 ########################
# PIN A4 From Bank 7 [Pin 8 ON BOARD]
LOCATE COMP "PWMOut" SITE "A4";
IOBUF PORT  "PWMOut" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE = 4; 

# PIN G3 From Bank 7 [Pin 12 on BOARD]
LOCATE COMP "sin_out"  SITE "G3";
IOBUF PORT  "sin_out"  IO_TYPE=LVCMOS33;


######################## 2.5V   ########################
######################## BANK 3 ########################
# PIN U18 From BANK 3 [PIN 14 ON BOARD]
LOCATE COMP "DiffOut"  SITE "U18";  
IOBUF PORT  "DiffOut"  SLEWRATE=SLOW IO_TYPE=LVCMOS25; 
OUTPUT PORT "DiffOut" LOAD 0.000000 pF;

# PIN N17 From Bank 3 [PIN 15 ON BOARD]
LOCATE COMP "sinGen"  SITE "N17";
IOBUF PORT  "sinGen"  PULLMODE=NONE IO_TYPE=LVCMOS25; 

# PIN N16 From Bank 3 [Pin 16 on BOARD] (NOT USED)
LOCATE COMP "XOut"  SITE "N16";
IOBUF PORT "XOut" IO_TYPE=LVCMOS25 SLEWRATE=SLOW HYSTERESIS=NA ;
	
######################### LVDS  ########################
######################## BANK 2 ########################
# LVDS (Differential signal on +- Pins on Board)
# PIN H18 From Bank 2 [Positive Pin 18 ON BOARD]
LOCATE COMP "RFIn"  SITE "H18"; 
IOBUF PORT "RFIn" IO_TYPE=LVDS25 HYSTERESIS=NA CLAMP=ON DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF; # LVDS25 NOT SUPPORTED?
# PIN H17 From Bank 2 [Negative Pin 18 on Board] SigmaDelta ADC Feedback(1 bit DAC)
#LOCATE COMP "SDFeedback"  SITE "H17"; 
#IOBUF PORT "SDFeedback" IO_TYPE=LVDS HYSTERESIS=NA CLAMP=ON DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF;
