BLOCK RESETPATHS;
BLOCK ASYNCPATHS;


# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;


LOCATE COMP "led" SITE "B2";
IOBUF  PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn" SITE "R1";  # FIRE1
IOBUF  PORT "btn" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;