BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25.0 MHz;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

#======================= 3.3V =========================#
#---------------------- BANK 6 -----------------------#
LOCATE COMP "rx_serial" SITE "M1"; 
IOBUF PORT "rx_serial" PULLMODE=UP IO_TYPE=LVCMOS33;

## LED indicators
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

#======================= 3.3V =========================#
#---------------------- BANK 0 ------------------------#
LOCATE COMP "pwm_out_p[0]" SITE "B11";
IOBUF PORT "pwm_out_p[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "pwm_out_p[1]" SITE "A10";
IOBUF PORT "pwm_out_p[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "pwm_out_p[2]" SITE "A9"; 
IOBUF PORT "pwm_out_p[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

LOCATE COMP "pwm_out_p[3]" SITE "B9"; 
IOBUF PORT "pwm_out_p[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

LOCATE COMP "pwm_out_n[0]" SITE "A7";
IOBUF PORT "pwm_out_n[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

LOCATE COMP "pwm_out_n[1]" SITE "C8"; 
IOBUF PORT "pwm_out_n[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

LOCATE COMP "pwm_out_n[2]" SITE "C6";
IOBUF PORT "pwm_out_n[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "pwm_out_n[3]" SITE "A6";
IOBUF PORT "pwm_out_n[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

#---------------------- BANK 7 ------------------------#
LOCATE COMP "pwm_out" SITE "A4";
IOBUF PORT "pwm_out" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 

#======================= 2.5V =========================#
#---------------------- BANK 3 ------------------------#
LOCATE COMP "diff_out"  SITE "U18";  
IOBUF PORT "diff_out" SLEWRATE=SLOW IO_TYPE=LVCMOS25; 
OUTPUT PORT "diff_out" LOAD 0.000000pF;

#====================== LVDS  =======================#
#---------------------  BANK 2 ------------------------#
LOCATE COMP "rf_in" SITE "H18"; 
IOBUF PORT "rf_in" IO_TYPE=LVDS HYSTERESIS=NA DIFFRESISTOR=OFF PULLMODE=NONE OPENDRAIN=OFF;

