LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHz;

LOCATE COMP "ftdi_rxd" SITE "L4";
IOBUF PORT "ftdi_rxd" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_txd" SITE "M1";
IOBUF PORT "ftdi_txd" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_nrts" SITE "M3";
IOBUF PORT "ftdi_nrts" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_ndtr" SITE "N1";
IOBUF PORT "ftdi_ndtr" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_txden" SITE "L3";
IOBUF PORT "ftdi_txden" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_nrxled" SITE "L5";
IOBUF PORT "ftdi_nrxled" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "led[7]" SITE "H3";
IOBUF PORT "led[7]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "E1";
IOBUF PORT "led[6]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "E2";
IOBUF PORT "led[5]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "D1";
IOBUF PORT "led[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "D2";
IOBUF PORT "led[3]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "C1";
IOBUF PORT "led[2]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "C2";
IOBUF PORT "led[1]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2";
IOBUF PORT "led[0]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "btn[0]" SITE "D6";
IOBUF PORT "btn[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "btn[1]" SITE "R1";
IOBUF PORT "btn[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "btn[2]" SITE "T1";
IOBUF PORT "btn[2]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "btn[3]" SITE "R18";
IOBUF PORT "btn[3]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "btn[4]" SITE "V1";
IOBUF PORT "btn[4]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "btn[5]" SITE "U1";
IOBUF PORT "btn[5]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "btn[6]" SITE "H16";
IOBUF PORT "btn[6]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "sw[0]" SITE "E8";
IOBUF PORT "sw[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "sw[1]" SITE "D8";
IOBUF PORT "sw[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "sw[2]" SITE "D7";
IOBUF PORT "sw[2]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "sw[3]" SITE "E7";
IOBUF PORT "sw[3]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "oled_clk" SITE "P4";
IOBUF PORT "oled_clk" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "oled_mosi" SITE "P3";
IOBUF PORT "oled_mosi" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "oled_resn" SITE "P2";
IOBUF PORT "oled_resn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "oled_dc" SITE "P1";
IOBUF PORT "oled_dc" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "oled_csn" SITE "N2";
IOBUF PORT "oled_csn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "oled_bl" SITE "J4";
IOBUF PORT "oled_bl" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_csn" SITE "R2";
IOBUF PORT "flash_csn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_clk" SITE "U3";
IOBUF PORT "flash_clk" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "flash_mosi" SITE "W2";
IOBUF PORT "flash_mosi" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_miso" SITE "V2";
IOBUF PORT "flash_miso" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_holdn" SITE "W1";
IOBUF PORT "flash_holdn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_wpn" SITE "Y2";
IOBUF PORT "flash_wpn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_csspin" SITE "AJ3";
IOBUF PORT "flash_csspin" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_initn" SITE "AG4";
IOBUF PORT "flash_initn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_done" SITE "AJ4";
IOBUF PORT "flash_done" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_programn" SITE "AH4";
IOBUF PORT "flash_programn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
IOBUF PORT "flash_cfg_select[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
IOBUF PORT "flash_cfg_select[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF PORT "flash_cfg_select[2]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "sd_clk" SITE "H2";
IOBUF PORT "sd_clk" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_cmd" SITE "J1";
IOBUF PORT "sd_cmd" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_d[0]" SITE "J3";
IOBUF PORT "sd_d[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_d[1]" SITE "H1";
IOBUF PORT "sd_d[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_d[2]" SITE "K1";
IOBUF PORT "sd_d[2]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sd_d[3]" SITE "K2";
IOBUF PORT "sd_d[3]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_wp" SITE "P5";
IOBUF PORT "sd_wp" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sd_cdn" SITE "N5";
IOBUF PORT "sd_cdn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "adc_csn" SITE "R17";
IOBUF PORT "adc_csn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "adc_mosi" SITE "R16";
IOBUF PORT "adc_mosi" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "adc_miso" SITE "U16";
IOBUF PORT "adc_miso" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "adc_sclk" SITE "P17";
IOBUF PORT "adc_sclk" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "audio_l[3]" SITE "B3";
IOBUF PORT "audio_l[3]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_l[2]" SITE "C3";
IOBUF PORT "audio_l[2]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_l[1]" SITE "D3";
IOBUF PORT "audio_l[1]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_l[0]" SITE "E4";
IOBUF PORT "audio_l[0]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_r[3]" SITE "C5";
IOBUF PORT "audio_r[3]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_r[2]" SITE "D5";
IOBUF PORT "audio_r[2]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_r[1]" SITE "B5";
IOBUF PORT "audio_r[1]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_r[0]" SITE "A3";
IOBUF PORT "audio_r[0]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_v[3]" SITE "E5";
IOBUF PORT "audio_v[3]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_v[2]" SITE "F5";
IOBUF PORT "audio_v[2]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_v[1]" SITE "F2";
IOBUF PORT "audio_v[1]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "audio_v[0]" SITE "H5";
IOBUF PORT "audio_v[0]" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "wifi_en" SITE "J5";
IOBUF PORT "wifi_en" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_rxd" SITE "K3";
IOBUF PORT "wifi_rxd" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_txd" SITE "K4";
IOBUF PORT "wifi_txd" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio0" SITE "F1";
IOBUF PORT "wifi_gpio0" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;
FREQUENCY PORT "wifi_gpio0" 50 MHz;

LOCATE COMP "wifi_gpio19" SITE "N4";
IOBUF PORT "wifi_gpio19" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio21" SITE "K5";
IOBUF PORT "wifi_gpio21" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio22" SITE "L2";
IOBUF PORT "wifi_gpio22" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio25" SITE "E9";
IOBUF PORT "wifi_gpio25" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio26" SITE "L1";
IOBUF PORT "wifi_gpio26" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio27" SITE "N3";
IOBUF PORT "wifi_gpio27" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio35" SITE "E6";
IOBUF PORT "wifi_gpio35" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio2" SITE "J3";
IOBUF PORT "wifi_gpio2" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio4" SITE "H1";
IOBUF PORT "wifi_gpio4" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio12" SITE "K1";
IOBUF PORT "wifi_gpio12" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "wifi_gpio13" SITE "K2";
IOBUF PORT "wifi_gpio13" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio14" SITE "H2";
IOBUF PORT "wifi_gpio14" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio15" SITE "J1";
IOBUF PORT "wifi_gpio15" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio32" SITE "F3";
IOBUF PORT "wifi_gpio32" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio33" SITE "G3";
IOBUF PORT "wifi_gpio33" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio36" SITE "H4";
IOBUF PORT "wifi_gpio36" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio39" SITE "G5";
IOBUF PORT "wifi_gpio39" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "wifi_gpio5" SITE "U5";

LOCATE COMP "wifi_gpio18" SITE "T5";

LOCATE COMP "wifi_gpio23" SITE "R5";

LOCATE COMP "wifi_gpio34" SITE "V4";

LOCATE COMP "ant_433mhz" SITE "G1";
IOBUF PORT "ant_433mhz" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "usb_fpga_dp" SITE "E16";
IOBUF PORT "usb_fpga_dp" DRIVE=16 IO_TYPE=LVCMOS33D;

LOCATE COMP "usb_fpga_dn" SITE "F16";
IOBUF PORT "usb_fpga_dn" DRIVE=16 IO_TYPE=LVCMOS33D;

LOCATE COMP "usb_fpga_bd_dp" SITE "D15";
IOBUF PORT "usb_fpga_bd_dp" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "usb_fpga_bd_dn" SITE "E15";
IOBUF PORT "usb_fpga_bd_dn" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "usb_fpga_pu_dp" SITE "B12";
IOBUF PORT "usb_fpga_pu_dp" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "usb_fpga_pu_dn" SITE "C12";
IOBUF PORT "usb_fpga_pu_dn" DRIVE=16 IO_TYPE=LVCMOS33;

LOCATE COMP "jtag_tdi" SITE "R5";
IOBUF PORT "jtag_tdi" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "jtag_tdo" SITE "V4";
IOBUF PORT "jtag_tdo" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "jtag_tck" SITE "T5";
IOBUF PORT "jtag_tck" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "jtag_tms" SITE "U5";
IOBUF PORT "jtag_tms" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sdram_clk" SITE "F19";
IOBUF PORT "sdram_clk" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_cke" SITE "F20";
IOBUF PORT "sdram_cke" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_csn" SITE "P20";
IOBUF PORT "sdram_csn" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_wen" SITE "T20";
IOBUF PORT "sdram_wen" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_rasn" SITE "R20";
IOBUF PORT "sdram_rasn" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_casn" SITE "T19";
IOBUF PORT "sdram_casn" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[0]" SITE "M20";
IOBUF PORT "sdram_a[0]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[1]" SITE "M19";
IOBUF PORT "sdram_a[1]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[2]" SITE "L20";
IOBUF PORT "sdram_a[2]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[3]" SITE "L19";
IOBUF PORT "sdram_a[3]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[4]" SITE "K20";
IOBUF PORT "sdram_a[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[5]" SITE "K19";
IOBUF PORT "sdram_a[5]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[6]" SITE "K18";
IOBUF PORT "sdram_a[6]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[7]" SITE "J20";
IOBUF PORT "sdram_a[7]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[8]" SITE "J19";
IOBUF PORT "sdram_a[8]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[9]" SITE "H20";
IOBUF PORT "sdram_a[9]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[10]" SITE "N19";
IOBUF PORT "sdram_a[10]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[11]" SITE "G20";
IOBUF PORT "sdram_a[11]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_a[12]" SITE "G19";
IOBUF PORT "sdram_a[12]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_ba[0]" SITE "P19";
IOBUF PORT "sdram_ba[0]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_ba[1]" SITE "N20";
IOBUF PORT "sdram_ba[1]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_dqm[0]" SITE "U19";
IOBUF PORT "sdram_dqm[0]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_dqm[1]" SITE "E20";
IOBUF PORT "sdram_dqm[1]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[0]" SITE "J16";
IOBUF PORT "sdram_d[0]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[1]" SITE "L18";
IOBUF PORT "sdram_d[1]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[2]" SITE "M18";
IOBUF PORT "sdram_d[2]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[3]" SITE "N18";
IOBUF PORT "sdram_d[3]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[4]" SITE "P18";
IOBUF PORT "sdram_d[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[5]" SITE "T18";
IOBUF PORT "sdram_d[5]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[6]" SITE "T17";
IOBUF PORT "sdram_d[6]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[7]" SITE "U20";
IOBUF PORT "sdram_d[7]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[8]" SITE "E19";
IOBUF PORT "sdram_d[8]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[9]" SITE "D20";
IOBUF PORT "sdram_d[9]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[10]" SITE "D19";
IOBUF PORT "sdram_d[10]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[11]" SITE "C20";
IOBUF PORT "sdram_d[11]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[12]" SITE "E18";
IOBUF PORT "sdram_d[12]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[13]" SITE "F18";
IOBUF PORT "sdram_d[13]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[14]" SITE "J18";
IOBUF PORT "sdram_d[14]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_d[15]" SITE "J17";
IOBUF PORT "sdram_d[15]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "gpdi_dp[0]" SITE "A16";
IOBUF PORT "gpdi_dp[0]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dn[0]" SITE "B16";
IOBUF PORT "gpdi_dn[0]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dp[1]" SITE "A14";
IOBUF PORT "gpdi_dp[1]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dn[1]" SITE "C14";
IOBUF PORT "gpdi_dn[1]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dp[2]" SITE "A12";
IOBUF PORT "gpdi_dp[2]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dn[2]" SITE "A13";
IOBUF PORT "gpdi_dn[2]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dp[3]" SITE "A17";
IOBUF PORT "gpdi_dp[3]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_dn[3]" SITE "B18";
IOBUF PORT "gpdi_dn[3]" DRIVE=4 IO_TYPE=LVCMOS33D;

LOCATE COMP "gpdi_util" SITE "A19";
IOBUF PORT "gpdi_util" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "gpdi_hpd" SITE "B20";
IOBUF PORT "gpdi_hpd" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "gpdi_cec" SITE "A18";
IOBUF PORT "gpdi_cec" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gpdi_sda" SITE "B19";
IOBUF PORT "gpdi_sda" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gpdi_scl" SITE "E12";
IOBUF PORT "gpdi_scl" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "i_Rx_serial" SITE "B11";
IOBUF PORT "i_Rx_serial" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[0]" SITE "C11";
IOBUF PORT "gn[0]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "o_Tx_serial" SITE "A10";
IOBUF PORT "o_Tx_serial" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[1]" SITE "A11";
IOBUF PORT "gn[1]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "DiffOut" SITE "A9";
IOBUF PORT "DiffOut" SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gn[2]" SITE "B10";
IOBUF PORT "gn[2]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "RFIn" SITE "B9";
IOBUF PORT "RFIn" IO_TYPE=LVDS25E;

LOCATE COMP "gn[3]" SITE "C10";
IOBUF PORT "gn[3]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[4]" SITE "A7";
IOBUF PORT "gp[4]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[4]" SITE "A8";
IOBUF PORT "gn[4]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[5]" SITE "C8";
IOBUF PORT "gp[5]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[5]" SITE "B8";
IOBUF PORT "gn[5]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[6]" SITE "C6";
IOBUF PORT "gp[6]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[6]" SITE "C7";
IOBUF PORT "gn[6]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[7]" SITE "A6";
IOBUF PORT "gp[7]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[7]" SITE "B6";
IOBUF PORT "gn[7]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[8]" SITE "A4";
IOBUF PORT "gp[8]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[8]" SITE "A5";
IOBUF PORT "gn[8]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[9]" SITE "A2";
IOBUF PORT "gp[9]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[9]" SITE "B1";
IOBUF PORT "gn[9]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[10]" SITE "C4";
IOBUF PORT "gp[10]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[10]" SITE "B4";
IOBUF PORT "gn[10]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[11]" SITE "F4";
IOBUF PORT "gp[11]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[11]" SITE "E3";
IOBUF PORT "gn[11]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[12]" SITE "G3";
IOBUF PORT "gp[12]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[12]" SITE "F3";
IOBUF PORT "gn[12]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[13]" SITE "H4";
IOBUF PORT "gp[13]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[13]" SITE "G5";
IOBUF PORT "gn[13]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sinGen" SITE "U18";
IOBUF PORT "sinGen" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[14]" SITE "U17";
IOBUF PORT "gn[14]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sin_out" SITE "N17";
IOBUF PORT "sin_out" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[15]" SITE "P16";
IOBUF PORT "gn[15]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "XOut" SITE "N16";
IOBUF PORT "XOut" SLEWRATE=SLOW IO_TYPE=LVCMOS25;

LOCATE COMP "gn[16]" SITE "M17";
IOBUF PORT "gn[16]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[17]" SITE "L16";
IOBUF PORT "gp[17]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[17]" SITE "L17";
IOBUF PORT "gn[17]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp[18]" SITE "H18";
IOBUF PORT "gp[18]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn[18]" SITE "H17";
IOBUF PORT "gn[18]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOut" SITE "F17";
IOBUF PORT "PWMOut" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[19]" SITE "G18";
IOBUF PORT "gn[19]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutP4" SITE "D18";
IOBUF PORT "PWMOutP4" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[20]" SITE "E17";
IOBUF PORT "gn[20]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutP3" SITE "C18";
IOBUF PORT "PWMOutP3" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[21]" SITE "D17";
IOBUF PORT "gn[21]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutP2" SITE "B15";
IOBUF PORT "PWMOutP2" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[22]" SITE "C15";
IOBUF PORT "gn[22]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutP1" SITE "B17";
IOBUF PORT "PWMOutP1" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[23]" SITE "C17";
IOBUF PORT "gn[23]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutN4" SITE "C16";
IOBUF PORT "PWMOutN4" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[24]" SITE "D16";
IOBUF PORT "gn[24]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutN3" SITE "D14";
IOBUF PORT "PWMOutN3" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[25]" SITE "E14";
IOBUF PORT "gn[25]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutN2" SITE "B13";
IOBUF PORT "PWMOutN2" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[26]" SITE "C13";
IOBUF PORT "gn[26]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "PWMOutN1" SITE "D13";
IOBUF PORT "PWMOutN1" IO_TYPE=LVCMOS33;

LOCATE COMP "gn[27]" SITE "E13";
IOBUF PORT "gn[27]" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp0" SITE "B11";
IOBUF PORT "gp0" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn0" SITE "C11";
IOBUF PORT "gn0" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp1" SITE "A10";
IOBUF PORT "gp1" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn1" SITE "A11";
IOBUF PORT "gn1" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp2" SITE "A9";
IOBUF PORT "gp2" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn2" SITE "B10";
IOBUF PORT "gn2" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp3" SITE "B9";
IOBUF PORT "gp3" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn3" SITE "C10";
IOBUF PORT "gn3" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp4" SITE "A7";
IOBUF PORT "gp4" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn4" SITE "A8";
IOBUF PORT "gn4" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp5" SITE "C8";
IOBUF PORT "gp5" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn5" SITE "B8";
IOBUF PORT "gn5" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp6" SITE "C6";
IOBUF PORT "gp6" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn6" SITE "C7";
IOBUF PORT "gn6" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp7" SITE "A6";
IOBUF PORT "gp7" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn7" SITE "B6";
IOBUF PORT "gn7" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp8" SITE "A4";
IOBUF PORT "gp8" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn8" SITE "A5";
IOBUF PORT "gn8" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp9" SITE "A2";
IOBUF PORT "gp9" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn9" SITE "B1";
IOBUF PORT "gn9" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp10" SITE "C4";
IOBUF PORT "gp10" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn10" SITE "B4";
IOBUF PORT "gn10" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp11" SITE "F4";
IOBUF PORT "gp11" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn11" SITE "E3";
IOBUF PORT "gn11" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp12" SITE "G3";
IOBUF PORT "gp12" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn12" SITE "F3";
IOBUF PORT "gn12" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;
FREQUENCY PORT "gn12" 50 MHz;

LOCATE COMP "gp13" SITE "H4";
IOBUF PORT "gp13" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn13" SITE "G5";
IOBUF PORT "gn13" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp14" SITE "U18";
IOBUF PORT "gp14" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn14" SITE "U17";
IOBUF PORT "gn14" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp15" SITE "N17";
IOBUF PORT "gp15" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn15" SITE "P16";
IOBUF PORT "gn15" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp16" SITE "N16";
IOBUF PORT "gp16" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn16" SITE "M17";
IOBUF PORT "gn16" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp17" SITE "L16";
IOBUF PORT "gp17" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn17" SITE "L17";
IOBUF PORT "gn17" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp18" SITE "H18";
IOBUF PORT "gp18" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn18" SITE "H17";
IOBUF PORT "gn18" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp19" SITE "F17";
IOBUF PORT "gp19" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn19" SITE "G18";
IOBUF PORT "gn19" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp20" SITE "D18";
IOBUF PORT "gp20" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn20" SITE "E17";
IOBUF PORT "gn20" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp21" SITE "C18";
IOBUF PORT "gp21" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn21" SITE "D17";
IOBUF PORT "gn21" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp22" SITE "B15";
IOBUF PORT "gp22" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn22" SITE "C15";
IOBUF PORT "gn22" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp23" SITE "B17";
IOBUF PORT "gp23" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn23" SITE "C17";
IOBUF PORT "gn23" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp24" SITE "C16";
IOBUF PORT "gp24" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn24" SITE "D16";
IOBUF PORT "gn24" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp25" SITE "D14";
IOBUF PORT "gp25" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn25" SITE "E14";
IOBUF PORT "gn25" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp26" SITE "B13";
IOBUF PORT "gp26" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn26" SITE "C13";
IOBUF PORT "gn26" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gp27" SITE "D13";
IOBUF PORT "gp27" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "gn27" SITE "E13";
IOBUF PORT "gn27" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "user_programn" SITE "M4";
IOBUF PORT "user_programn" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "shutdown" SITE "G16";
IOBUF PORT "shutdown" DRIVE=4 IO_TYPE=LVCMOS33 PULLMODE=DOWN;
